*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 5px;
    width: 50%;
    margin: 5% auto;
}
img{
    width: 100%;
    
}
img:hover{
    opacity: .5;
}